@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

span.active {
  background-color: gray;
}

.fixedbox {
  width:150px;height:130px;overflow:hidden;display:inline-block;
}